/* Globals */
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, rgba(0,126,163,1) 0%, rgba(0,198,255,1) 49%, rgba(165,9,131,1) 50%, rgba(35,1,28,1) 100%);
}

/* Layout */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Bee */
/* Animated by swapping background images */

/* Monster */
/* Animated by transformations */

/* Monster Happy State */
.monster-container {
  height: 500px;
  overflow: initial;
}

/* Monster Scared State on Hover */

/* CAT */
/* Animation using sprites */
